{% block header %}
{% include "base.html" with active="home"%}
{% endblock %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>ODD CHESS</h1>
    <p>LOREM IPSUM... and that's all I remember. This is placeholder text</p>
    <a type="button" class="btn btn-lg btn-default" href="/test"> I'm a teapot</a>
  </div>
</div>
<div class="container-fluid">
  <div class="alert alert-info text-center" role="alert">
    Free Demo:
  </div>
  <div>

    <div id="chessgame_container">
      <ul class=" pager">
        <li>
          <div class="btn-group">
            <button class="btn btn-default" id="random_matchmaking_btn" type="button" data-toggle="modal"
              data-target="#chess_container" aria-expanded="false" aria-controls="chess_container">
              Random Matchmaking
            </button>
            <button class="btn btn-default" id="private_match_btn" type="button" data-toggle="modal"
              data-target="#chess_container" aria-expanded="false" aria-controls="chess_container">
              Copy Link / Private Match
            </button>
          </div>
        </li>
      </ul>

      <div class="chess_container modal fade " id="chess_container" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="ModalTitle">Modal title</h4>
            </div>
            <div class="modal-body">
              <div id="chessboard_container">
                <div id="myBoard" class=""></div>
              </div>
              <div style = "height: 3.3em">
                <div id = "alertcontainer" class = "collapse" >

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> -->
    <!-- <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div> -->

    <link defer rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
      integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
    <script defer src="{% static 'chess\javascript\chessboardjs-1.0.0\js\chessboard-1.0.0.min.js' %}"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script defer src="{% static 'chess/javascript/main.js' %}"></script>
  </div>
  {% endblock %}